# phpstorm project files
.idea

# netbeans project files
nbproject

# vscode project files
.vscode

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
web/images/faker-images
web/images/1592745972_4.jpg
web/images/1592745972_5.jpg
web/images/1605597087_3.jpg
web/images/1605597140_2.jpg
web/images/IMG_5713-10-07-19-09-01.JPG
web/images/pexels-albin-berlin-919073.jpg
web/images/pexels-garvin-st-villier-3874330.jpg
web/images/pexels-juan-n-gomez-4719492.jpg
web/images/экран.png
web/images/moto_screen.png
web/images/simple_screen.png
web/images/IMG_5712-10-07-19-09-01.JPG
команды для тестов.txt
Apache_2.4-PHP_7.0-7.1_vhost.conf.example
geckodriver.exe
selenium-server-standalone-3.141.59.jar
.vscode/launch.json
web/images/2e0c8d8ca26ded5ae9d12472e9427868.png
web/images/dd4939d93f61825251234dd4ff365500.png
web/images/ec4858a9cfff4c033ec1802256d0d021.png
.gitignore
