# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
web/images/faker-images
web/images/1592745972_4.jpg
web/images/1592745972_5.jpg
web/images/1605597087_3.jpg
web/images/1605597140_2.jpg
web/images/IMG_5713-10-07-19-09-01.JPG
web/images/pexels-albin-berlin-919073.jpg
web/images/pexels-garvin-st-villier-3874330.jpg
web/images/pexels-juan-n-gomez-4719492.jpg
web/images/экран.png
web/images/moto_screen.png
web/images/simple_screen.png
